* {
    box-sizing: border-box;
}

#menu-bar {
    background-color: #2E3133;
    height: 34px;
    color: white;
    line-height: 34px;
    font-size: 14px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding: 0 16px;
}

#menu-bar-left-container{
    float: left;
    height: 100%;
}

#menu-bar-right-container{
    float: right;
    height: 100%;
}

#menu-bar-left-container > span,
#menu-bar-right-container > span {
    padding: 0 8px;
    display: inline-block;
}

.drop-down::after {
    content: "";
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    margin-left: 5px;
    display: inline-block;
    vertical-align: text-bottom;    
}

#menu-bar span:hover {
    color: #8cc1c1;
    cursor: pointer;
}

#menu-bar-right-container span.icon {
    font-size: 19px;
    font-weight: bold;
}

.drop-down {
    position: relative;
}

.drop-down:hover > .menu-container{
    display: block;
}

.menu-container {
    color: white;
    position: absolute;
    display: none;
}

.menu-container.align-right {
    right: 0;
}

.menu-container > .invisible-header {
    background-color: rgba(0, 255, 255, 0);
    position: relative;
    height: 20px;
}

.menu {
    min-width: 165px;
}

.menu > li {
    padding: 16px;
    cursor: pointer;
    background-color: #6d6e70;
    border-top: 1px solid gray;
    font-weight: 700;
    color: white;
}

.menu > li:hover {
    background-color: #8cc1c1;
    border-top-color: #8cc1c1;
}

.menu > li:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.menu > li:first-child::after {
    content: "";
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #6d6e70;
    position: absolute;
    top: -16px;
    left: 20px;
}

.menu-container.align-right .menu > li:first-child::after {
    content: "";
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #6d6e70;
    position: absolute;
    top: -16px;
    left: 65%;
}

.menu > li:first-child:hover::after {
    border-bottom-color: #8cc1c1;
}

.menu-container.align-right .menu > li:first-child:hover::after {
    border-bottom-color: #8cc1c1;
}

.menu > li:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}